<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ PlayTheater.favorite
  ~ AndroidManifest.xml
  ~ Created by Isato on 19/12/2021 8:43:11
  ~ Source code available on: https://github.com/i-sato/PlayTheater
  ~ Copyright (c) 2021. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="isato.made.playtheater.favorite">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_favorite">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".ui.FavoriteActivity"
            android:theme="@style/Theme.PlayTheater.NoActionBar"
            android:exported="true" />
    </application>

</manifest>