<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ PlayTheater.detail
  ~ AndroidManifest.xml
  ~ Created by Isato on 19/12/2021 8:43:11
  ~ Source code available on: https://github.com/i-sato/PlayTheater
  ~ Copyright (c) 2021. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isato.made.playtheater.detail">

    <application>
        <activity
            android:name=".ui.DetailActivity"
            android:exported="true"
            android:theme="@style/Theme.PlayTheater.Detail.NoActionBar"/>
    </application>

</manifest>