<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ PlayTheater.core
  ~ AndroidManifest.xml
  ~ Created by Isato on 19/12/2021 8:43:11
  ~ Source code available on: https://github.com/i-sato/PlayTheater
  ~ Copyright (c) 2021. All rights reserved.
  -->

<manifest package="isato.made.playtheater.core">

</manifest>