<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ PlayTheater.app
  ~ AndroidManifest.xml
  ~ Created by Isato on 19/12/2021 8:43:11
  ~ Source code available on: https://github.com/i-sato/PlayTheater
  ~ Copyright (c) 2021. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isato.made.playtheater">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayTheater"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PlayTheater.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>